html {
  background-color: gray;
  background-image: url('assets/jewelBackMed.png');
  background-attachment: fixed;
  font-family: sans-serif;
}

body {
  margin: 0;
  background: transparent;
}

nav {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  max-height: 100px;
  width: 100%;
  position: fixed;
}

nav a {
  color: #fff;
}

nav ul, .display ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li, .display li {
  list-style: none;
  margin-right: 25px;
}

.wrapper {
  padding-top: 50px;
  /*padding-bottom: -75px;*/
  /*height: 100vh;
  /*overflow-y: hidden;*/
}

.profile {
  height: 100vh;
  text-align: justify;
  text-justify: inter-word;
  transition: 1000ms;
  background-image: url('assets/jewelBackMed.png');
}

.side {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.25);
  padding-left: 25px;
  min-width: 125px;
}

.main {
  border-radius: 6px;
  padding-bottom: 50px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.75);
}

.mail {
  width: 25%;
  position: absolute;
  bottom: 10px;
}

.round {
  border-radius: 50%;
  box-shadow: 5px 5px 15px #111;
}

.relative {
  position: relative;
}

.quote {
  color: #fff;
  text-shadow: 2px 2px 7px #111;
}

.shadow {
  box-shadow: 2px 2px 7px #111;
}

.choices {
  display: flex;
  width: 400px;
  margin: auto;
}

.devName {
  margin: 10px;
  min-width: 100px;
  text-align: center;
  /*transform: rotate(5deg);*/
  background: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}

.jumbotron, .container .jumbotron {
  /*margin: auto -15px;*/
  border: none;
  border-radius: 0px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('assets/jewelBackBig.png');
  background-position: center;
}

.display {
  margin: auto;
  text-align: center;
  background: grey;
}

.display li {
  width: 200px;
  padding: 0;
  margin: 10px;
}

.display img {
  height: 100px;
}

.display img:hover {
  filter: invert(100%);
}
