<!DOCTYPE html>
<html ng-app="Portfolio" ng-controller="homeCtrl" ng-style="style">
  <head>
    <meta charset="utf-8">
    <title>Real-DEAL</title>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="./assets/logo.png" />
    <meta property="og:description" content="Real-DEAL is a team of software engineers creating exciting new applications." />
    <meta property="og:url" content="http://real-deal.github.io/" />
    <meta property="og:title" content="Real-DEAL Portfolio" />
  </head>
  <body>
    <nav class="back-b">
      <ul>
        <li><a href="#/home"><img src="./assets/logo.png" alt="" height="50"></a></li>
        <li><a href="#/home">Real-DEAL</a></li>
        <li><a href="#/profile">About</a></li>
        <li><a href="#/apps">Apps</a></li>
      </ul>
      <div
        class="dot dot-w visible-xs"
        ng-controller="profileCtrl"
        ng-click="toggleStyle()"
      >
      </div>
      <ul class="hidden-500">
        <li
          class="dot"
          ng-controller="profileCtrl"
          ng-repeat="dev in devs"
          ng-click="switch(dev.name1)"
          ng-style="{'background-color':'{{dev.color}}'}"
        >
        </li>
      </ul>
    </nav>
    <div class="visible-xs styles">
      <div
        class="dot margin-bottom-12-5"
        ng-controller="profileCtrl"
        ng-repeat="dev in devs"
        ng-click="switch(dev.name1)"
        ng-style="{'background-color':'{{dev.color}}'}"
      ></div>
    </div>

    <div ui-view autoscroll="true"></div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
    <script src="./route.js"></script>
    <script src="./controllers/app.js"></script>
    <script src="./controllers/profile.js"></script>
    <script src="./factories/app.js"></script>
    <script src="./factories/profile.js"></script>
  </body>
</html>
