html {
  transition-duration: 1s;
  background-image: url('assets/jewelBackMed.png');
}

html, .profile {
  background-position: center;
  background-attachment: fixed;
}

a,  a:visited  {
  color: #999;
  font-weight: bold;
}

a:hover, a:active {
  color: #777;
}

body {
  margin: 0;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.profile {
  font-size: 14px;
}

nav {
  margin: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  white-space: nowrap;
}

.icon {
  width: 100px;
  margin: auto;  
}

.display {
  padding: 30px;
}

.back-b {
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('assets/jewelBackBigB.png');
  background-position: center;
}

.back-w {
  border: none;
  border-radius: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('assets/jewelBackBig.png');
  background-position: center;
}

nav a, nav a:visited {
  color: #fff;
}

nav ul, .flat-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 51;
}

nav li {
  list-style: none;
  margin: 0 25px 0 0;
}

.display li {
  list-style: none;
  margin: 0 12px;
}

.dot {
  border-radius: 100%;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.hex {
  max-width: 80%;
  margin: auto;
}

@media(max-width:500px){
  .hidden-500 {
    display: none;
  }
}

@media(max-width:767px){
  /* .dot {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  } */

  .dot-w {
    background-color: #ccc;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 25px;
    top: 12.5px;
  }

  .xs-center {
    text-align: center;
  }
}

.dot, .list li {
  background-image: url('assets/button.png');
}

.styles {
  position: fixed;
  right: 25px;
  top: 62.5px;
  transition: 1000ms;
  transform: translateY(-200%);
}

.styles.open {
  transform: translateY(0);
}

button {
  margin: 0 10px;
}

.wrapper {
  padding-top: 50px;
}

.apps h2 {
  margin-top: 0;
}

.apps h4 {
  font-weight: bold;
}

.apps {
  font-size: 14px;
}

.app {
  margin-top: 50px;
}

.photo {
  text-align: center;
}

.photo img {
  width: 75%;
  height: auto;
}

.display, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.products img:hover {
  filter: invert(50%);
}

footer {
  padding: 30px;
}

.profile {
  min-height: 100vh;
  text-align: justify;
  text-justify: inter-word;
  transition: 1000ms;
}

.main {
  padding-bottom: 50px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
}

.mail {
  display: inline;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.screenshot {
  max-width: 100%;
}

.linkCircle {
  position: relative;
  width: 20%;
  margin: 1%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

.round {
  border-radius: 50%;
  box-shadow: 5px 5px 15px #111;
}

.relative {
  position: relative;
}

.invert {
  filter: invert(80%);
}

.quote {
  color: #fff;
  text-shadow: 2px 2px 7px #111;
}

.shadow {
  box-shadow: 2px 2px 7px #111;
}

.choices {
  display: flex;
  width: 380px;
  margin: auto;
}

.devName {
  margin: 0 5px;
  padding: 5px;
  font-size: 25px;
  min-width: 85px;
  text-align: center;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
}

.devName:hover {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.center>img {
  height: 250px;
  /*width: 300px;*/
}

.center-t {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.list {
  padding-left: 0;
}

.list a, .list a:hover, .list a:visited {
  text-decoration: none;
  font-weight: normal;
}

.list li {
  background-repeat: no-repeat;
  background-position: right top;
  color: #fff;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  transition: 1s;
}

.list li:hover {
  background-image: url('assets/button-hover.png');
  cursor: pointer;
}

.margin-bottom-12-5 {
  margin-bottom: 12.5px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-30, h1 {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;  
}

.full {
  width: 100%;
}

.feature {
  font-size: 16px;
  text-align: justify;
}

.feature-20 {
  font-size: 20px;
}