<!DOCTYPE html>
<div class="wrapper container">
  <div class="jumbotron" ng-if="app">
    <div class="row">


      <div class="col-md-7 col-sm-7">
        <div class="row">
          <div class="col-xs-3" style="{text-align: center}">
            <img ng-src="{{ app.logoColor }}" height="100px" alt="">
          </div>
          <div class="col-xs-9">
            <h2>{{ app.name }}</h2>
            <h4>{{ app.elevator }}</h4>
          </div>
        </div>
        <p>{{ app.description }}</p>
        <h3>Features</h3>
        <div ng-repeat="attr in app.attributes">
          <h4>{{ attr[0] }}</h4>
          <p>{{ atrr[1] }}</p>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 center-t">
        <p>
          <img class="screenshot" ng-src="{{ app.screenshots[shot] }}" ng-click="next()">
          <p class="center">
            <ul class="list">
              <a href="{{ app.live }}"><li ng-style="style">Live app</li></a>
              <a href="{{ app.github }}"><li ng-style="style">Github</li></a>
            </ul>
          </p>
        </p>
        <div class="row">
          <div class="left">
            <h4>Tech stack</h4>
            <ul class="list">
              <a ng-repeat="tech in app.techStack" href="{{ tech[1] }}">
                <li ng-style="style">{{ tech[0] }}</li>
              </a>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--

<div class="wrapper container">
  <div class="jumbotron" ng-if="app">
    <div class="row">
      <div class="col-md-4 col-sm-8 center-t">
        <p>
          <img class="screenshot" ng-src="{{ app.screenshots[shot] }}" ng-click="next()">
        </p>
        <div class="row">
          <div class="col-sm-4">
            <p>
              <a href="{{ app.live }}"><img src="../assets/link-live.png" class="round linkCircle" alt=""></a>
              <a href="{{ app.github }}"><img src="../assets/link-gh.png" class="round linkCircle" alt=""></a>
            </p>
          </div>
          <div class="col-sm-6 col-xs-6 left">
            <h4>Tech stack</h4>
            <ul>
              <li ng-repeat="tech in app.techStack">{{ tech }}</li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6 left">
            <h4>Features</h4>
            <ul>
              <li ng-repeat="attr in app.attributes">{{ attr }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-4">
        <h2>{{ app.name }}</h2>
        <h4>{{ app.elevator }}</h4>
        <p>{{ app.description }}</p>
        <p class="center">
          <a href="{{ app.live }}"><button type="button" class="btn btn-lg btn-default">Live app</button></a>
          <a href="{{ app.github }}"><button type="button" class="btn btn-lg btn-default">Github</button></a>
        </p>
      </div>
    </div>
  </div> -->

  <div class="display">
    <h1><span ng-if="app">Other </span>Applications</h1>
    <div class="row">
      <div class="col-sm-4 col-xs-12" ng-repeat="(app, data) in apps">
        <a href="#/{{ data.name }}">
          <img ng-src="{{ data.logo }}" alt="">
          <h5>{{ data.name }}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
