<!DOCTYPE html>
<div class="wrapper container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-7">
        <h1>
          Real-DEAL
        </h1>
        <p>Real-DEAL is a team of software engineers creating exciting new applications.</p>
        <p>Learn more about <a href="#/profile">who we are</a> and <a href="#/app">what we make</a>.</p>
      </div>
      <div class="col-sm-5 col-xs-0 center">
        <img src="../assets/logobw.png" alt="">
      </div>
    </div>
  </div>
  <div class="display">
    <h1>Products</h1><br>
    <div>
      <div class="col-sm-4 col-xs-12">
        <img src="../assets/logospurr.png" alt="">
        <h3>Spurr</h3>
        <p>Anonymouse secret sharing app</p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img src="../assets/logowh.png" alt="">
        <h3>What's Happenin'</h3>
        <p>Local event finding app</p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img src="../assets/logobc.png" alt="">
        <h3>Breadcrumb</h3>
        <p>Touring/creation and app</p>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row" ng-controller="profileCtrl">
      <div class="col-sm-3 col-xs-0 center">
        <img src="{{ person.img }}" class="round" height="200" width="200" alt="">
      </div>
      <div class="col-sm-9">
        <h1>
          Meet {{ person.name1 }}
        </h1>
        <p>{{ person.bio }}</p>
        <p>Learn more about {{ person.name1 }} <a href="#/profile">here</a>!</p>
      </div>
    </div>
  </div>
</div>
