<!DOCTYPE html>
<div class="wrapper profile">
  <div class="container">

    <div class="choices">
      <div ng-click="switch(dev)" ng-repeat="dev in devs" class="devName">{{ dev }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3 center">
        <h1>
          <img ng-src="{{ person.img }}" class="hex img-responsive" alt="">
        </h1>
        <div class="mail">
          <a href="mailto:{{ person.email }}"><img src="../assets/link-mail.png" class="round linkCircle" alt=""></a>
          <a href="{{ person.github }}"><img src="../assets/link-gh.png" class="round linkCircle" alt=""></a>
          <a href="{{ person.linkedin }}"><img src="../assets/link-linkedin.png" class="round linkCircle" alt=""></a>
        </div>
      </div>

      <div class="col-sm-9">
        <h3 class="quote">{{ person.quote }}</h3>
        <div class="row main">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h1 style="margin-top: 10px;">{{ person.name1 }} {{ person.name2 }}</h1>
            {{ person.bio }}
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-6 col-xs-6">
                <h4>Specialties</h4>
                <ul>
                  <li ng-repeat="spec in person.specialties">{{ spec }}</li>
                </ul>
              </div>
              <div class="col-sm-6 col-xs-6">
                <h4>Projects</h4>
                <ul>
                  <li ng-repeat="project in person.projects"><a ui-sref="{{ project }}" >{{ project }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
